[Desktop Entry]
Name=Parallel
Name[es]=Paralelo


X-KDE-PluginInfo-Name=Parallel
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-License=CC BY-SA 4.0
