[Desktop Entry]
Name=Place
Name[es]=Lugar


X-KDE-PluginInfo-Name=Place
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-License=CC BY-SA 4.0
