[Desktop Entry]
Name=Shine
Name[es]=Brillo


X-KDE-PluginInfo-Name=Shine
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-License=CC BY-SA 4.0
