[Desktop Entry]
Name=Lines
Name[es]=Líneas


X-KDE-PluginInfo-Name=Lines
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Email=uri_herrera@nitrux.in
X-KDE-PluginInfo-License=CC BY-SA 4.0
